html {
  background: #1b1b1b;
  color: #ffffff;
  font-family: Helvetica;
  padding: 1em 1em 1em 1em;
}

h1 { font-size: 2.25em; }
h3 { font-size: 1.25em; }

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

pre {
  background-color: #a6a6a6;
  color: #121212;
  border: .30em solid #161616;
  border-radius: 7px;
  line-height: 1.4em;
  padding: 7px 14px;
  overflow: auto;
}

#page-wrap {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
